/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  border-bottom: 1px solid black;
  background-color:#f9f9f9;
  padding-bottom: -20px;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

.navbar .navbar-logo{
  padding-top:10px; 
}

.navbar .navbar-nav a{
  transition: 0.3s;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  .page-hero-section img {
    display: none;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */

.page-hero-section {
  position: relative;
  padding-top:-20px;
  padding-bottom: 45px;
  background-color: #f9f9f9;
}

.page-hero-section h1 {
  font-size: 3.5rem;
}

.page-hero-section .hero-caption {
  height: 100%;
}

.page-section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-section:not(.fg-white) h1,
.page-section:not(.fg-white) h2,
.page-section:not(.fg-white) h3 {
  color: #6b6872;
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
/* Desktop Navigation */
.services{
  background: #f9f9f9;  
  padding-bottom: 40px;
  padding-top: 30px;
}
.services .icon-box {
  padding: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.services .icon-box:hover {
  transform: translateY(-5px);
  border-color: black;
}

.services .icon {
  position: absolute;
  left: -20px;
  top: calc(50% - 30px);
}

.services p {
  text-align:center;
  position: relative;
  padding-bottom:10px;

}

.services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

.services .title {
  text-align:center;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #111;
}

.services .icon-box:hover .title a {
  color: #fec30f;
}

.services .description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}


@media (max-width: 768px) {
  .services p {
    text-align:justify;
  }
  .services h1 {
    text-align:left;
    font-size: 32px;
    font-weight: bold;
  }
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/* Desktop Navigation */
.about{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9f9f9;
  text-align: justify;
}
.about .content h3 {
  font-weight: 600;
  font-size: 26px;

}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #cc1616;
}

.about .content p:last-child {
  margin-bottom: 0;
}



/* ---------------------------------------------
Portofolio
--------------------------------------------- */
/* Desktop Navigation */
.accordion{
  padding-top: 40px;
  background-color: #f9f9f9;
}

.accordion .card{
  background-color:#f9f9f9;
  border:0;
}

.accordion a{
  color:#444444
}

.accordion .card .collapse .card-body .tab-content .card .collapse .card-body p{
  font-size: 15px;
}
.accordion .card .card-header{
  background-color:#f9f9f9;
}

.accordion img{
  width: 85%;
  margin-top: -32px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

@media (max-width: 768px) {
  .accordion .card .collapse .card-body .tab-content .card .collapse .card-body h3{
    font-size: large;

  }
  .accordion{
    text-align:justify;
  }

  .accordion img{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top: 0px;
  }
}



/* ---------------------------------------------
Client
--------------------------------------------- */
/* Desktop Navigation */
.client {
  min-height: 215px;
  overflow: hidden;
  position: relative;
  padding-top: 40px;
  padding-bottom: 30px;
}

.client:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: .95;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #f9f9f9;
  z-index: 2;
  top: -20%;
  left: -20%;
}

.client .client-content {
  position: relative;
  z-index: 3;
}


.client .client-content .info h1 {
  text-align: Left;
  letter-spacing: 0.25px;
  margin: 0px;
  font:bold;
}


.client img {
  max-width: 60%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 35px;
  filter: grayscale(100);
}

.client img:hover {
  filter: none;
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .client img {
    width:80% ;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  background: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
.contact .info {
  width: 100%;
  background: #f9f9f9;
}

.contact .info i {
  font-size: 20px;
  color: #ffdf33;
  float: left;
  width: 44px;
  height: 44px;
  background: #effbf9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222222;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #555555;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #ffdf33;
  color: #f9f9f9;
}

.contact .php-email-form {
  width: 100%;
  background: #f9f9f9;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #ffdf33;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #ffdf33;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #ffdf33;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #fec30f;
  border: 0;
  padding: 10px 30px 12px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: yellow;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  /* background: #2e3339; */
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  background: #2e3339;
  border-radius:10px 10px 0px 0px;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #2e3339;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: -3px;
  right: -4px;
  bottom: -3px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 0 20px;
  margin: 3px;
  background: #428bca;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #3071a9;
}

#footer .footer-top {
  background: #272c30;
  border-top: 1px solid #394047;
  border-bottom: 1px solid #394047;
  padding-top: 50px;
  padding-bottom: 0px;
  border-radius:10px 10px 0px 0px;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 16px;
  display: inline-block;
  background: #394047;
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #428bca;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #5697d0;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #5697d0;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

